<div class="container-archive">
    {{ $totalArticles := len .Site.RegularPages }}
    <div class="count">共有 {{ $totalArticles }} 篇文章</div>

    <!-- 最近文章 -->
    <div class="count">∇ 最近文章</div>
    <div class="recentf">
        {{ range first 10 .Site.RegularPages.ByLastmod.Reverse }}
        <div class="rec-post">
            <div class="rec-post-item">
                <a href="{{.Permalink}}">{{ .Title }}</a>
            </div>
        </div>
        {{ end }}
        <!-- {{.Type}} -->
        <!-- {{ if eq .Type "page" }}
  
   
        {{ end }} -->
    </div>

    <!-- 分类 -->
    <div class="count">∇ 分类</div>
    <!-- 📂 📜 🔖-->
    <div class="categories">
        {{ range .Site.Pages.ByLength }}
        {{ if and (eq .Type "categories") (ne .Title "Categories") (ne .Title "Secrets")}}
        <div class="arc-item">
            <div class="arc-desc">
                <a href="{{.Permalink}}"><img src="/imgs/icons/ctg.svg" width="16" /> {{ .Title }} <sup>{{len
                        .Pages}}</sup></a>
            </div>
            <div class="arc-post">
                {{ range .Pages }}
                <div class="arc-post-item">
                    <a href="{{.Permalink}}">{{ .Title }}</a>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end}}
        {{ end }}
    </div>
    <!-- 标签 -->
    <div class="count">∇ 标签</div>
    <div class="tags">
        {{ range .Site.Pages.ByLength }}
        {{ if and (eq .Type "tags") (ne .Title "Tags") (ne .Title "Secrets")}}
        <div class="arc-item">
            <div class="arc-desc">
                <a href="{{.Permalink}}"><img src="/imgs/icons/tag.svg" width="16" /> {{ .Title }} <sup>{{len
                        .Pages}}</sup></a>
            </div>

            <div class="arc-post">
                {{ range .Pages }}
                <div class="arc-post-item">
                    <a href="{{.Permalink}}">{{ .Title }}</a>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end}}
        {{ end }}
    </div>

</div>